header {
    padding: 25px 35px;
    background-color: white;
    text-align: center;
    font-size: 30px;

}


body {
    background-color: white;
    flex: wrap;

    
}

Img {
    text-align: justify;
}


h1 {
    text-align: center;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
    font-size: large;
    font-family: cursive;
}

h3, h4, H5 {
    text-align: center;
    font-size: medium;
    font-family: cursive;

}